.msg__empty {
    color: #fff;
    padding: 15px 25px;
}

.msg__id--location {
    color: #fff;
    padding: 15px 25px;
    
}

.msg__inputEmpty {
    width: 50%;
    height: 50px;
    background-color: #062226;
    border-radius: 0.8em;
    text-align: center;
    border: 1px solid orange;
    margin: 0 auto 20px;
    display:flex;
    justify-content: center;
    

}

.msg__id {
    width: 50%;
    height: 50px;
    background-color: #062226;
    border-radius: 0.8em;
    text-align: center;
    border: 1px solid orange;
    margin: 0 auto 20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}

.bxs-error {
    color: orange;
    font-size: 2em;
    padding: 10px 0;
}

.bxs-confused {
    color: orange;
    font-size: 2em;
    padding: 10px 0;
    
}

@media (max-width: 576px) {
    .msg__inputEmpty {
    width: 100%;        
    }
    
    .msg__id {
        width: 100%;
    }
    .bxs-error {
        font-size: 1.5em;
    }
    .msg__empty {
        font-size: 1em;
    }
    
    .msg__id--location {
        font-size: 0.8em;
        padding: 15px 10px; 
    }
    
    .bxs-confused {
        font-size: 1.5em;
        
    }
    }